extends header

block content
  div.container.border.mt-4.bg-gray
    div.row.pt-4.center.p-4
      ul.list-unstyled.col-sm-12.m-0.p-0
        each experience, index in experiences
          li.project-container.border-dark.border.p-2.bg-white
            div.project-header.mb-1.row.mt-0
              div.col
                h3= experience.name
              div.col.float-right
                h5.text-right.mb-2= experience.category
                p.font-italic.text-muted.text-right.mb-1= experience.date
            div.project-body.border-top.pt-1
              p= experience.description
          if index !== experiences.length - 1
            div.mt-4.bg-gray
