extends header

block content
  div.container.border.mt-4
    // main strip
    div.row.pt-4.center
      // intro section
      div.col-sm-1
      div.col-sm-5
        div.facts
          div.float-lg-left.w-100
            img(src="/images/josh.jpg" class="img-fluid")

      div.col-sm-5.border-left
        div.pl-4
            h2(class='text-left') Quick facts
              // any information, sent by server
    div.row
      div.pt-4.pl-4.pr-4
        p josh

      
  

