extends header

block content
  .main-body
    .home-intro
      img(src=img_portrait, class="img-portrait")
      h3(class="text-center") Joshua Polzin
      p(class="text-left") Description

    .home-projects
      .project-container
        each proj in projects
          +project(proj)

    .home-education
      .education-summary
        img.logo(src="/images/umlogo.png")
        p.education-summary-text #{education_summary}
      .education-coursework-container
        each course in coursework
          .education-coursework-entry
            p.entry-left #{course.name}
            p.entry-right #{course.desc}

    .home-
  

