.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
  float: right;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-gray {
  background-color: #FBFBFB;
}

.bg-white {
  background-color: white;
}

.project-tag {
  text-align: center;
  border-radius: 5pt;
  color: white;
}

/* Change font size iPhone 5 */
@media (max-width: 370px) {  
  h3 {font-size: 16pt;}
  p {font-size: 10pt;} /*1rem = 16px*/
}